<h1 class="title">academics</h1>
<div class="container">
    <div class= "about">

        <div class="about-text">
            <h1 class="heading"> Belen Jesuit Preparatory School</h1>
            <h4 class="subheading">Lorem ipsum dolor amet pinterest keytar activated charcoal, gastropub commodo trust fund poke distillery velit beard meditation in veniam. Tbh skateboard man bun selfies messenger bag chicharrones beard. Live-edge lorem green juice est minim woke messenger bag pok pok tattooed thundercats cred bitters. Nulla chillwave blog ramps vaporware cronut fam veniam ut. Lo-fi whatever four loko +1 dolore man bun palo santo sunt pour-over fingerstache humblebrag. Fixie irony you probably haven't heard of them vegan, cornhole chambray messenger bag ramps meggings excepteur affogato. Excepteur PBR&B incididunt anim banh mi subway tile duis bespoke jianbing etsy taiyaki.</h4>
        </div>

        <div class="about-text">
            <h1 class="heading"> St. Agnes Academy </h1>
            <h4 class="subheading">Lorem ipsum dolor amet pinterest keytar activated charcoal, gastropub commodo trust fund poke distillery velit beard meditation in veniam. Tbh skateboard man bun selfies messenger bag chicharrones beard. Live-edge lorem green juice est minim woke messenger bag pok pok tattooed thundercats cred bitters. Nulla chillwave blog ramps vaporware cronut fam veniam ut. Lo-fi whatever four loko +1 dolore man bun palo santo sunt pour-over fingerstache humblebrag. Fixie irony you probably haven't heard of them vegan, cornhole chambray messenger bag ramps meggings excepteur affogato. Excepteur PBR&B incididunt anim banh mi subway tile duis bespoke jianbing etsy taiyaki.</h4>
        </div>

        <div class="about-text">
            <h1 class="heading">goals</h1>
            <h4 class="subheading">Lorem ipsum dolor amet pinterest keytar activated charcoal, gastropub commodo trust fund poke distillery velit beard meditation in veniam. Tbh skateboard man bun selfies messenger bag chicharrones beard. Live-edge lorem green juice est minim woke messenger bag pok pok tattooed thundercats cred bitters. Nulla chillwave blog ramps vaporware cronut fam veniam ut. Lo-fi whatever four loko +1 dolore man bun palo santo sunt pour-over fingerstache humblebrag. Fixie irony you probably haven't heard of them vegan, cornhole chambray messenger bag ramps meggings excepteur affogato. Excepteur PBR&B incididunt anim banh mi subway tile duis bespoke jianbing etsy taiyaki.</h4>
        </div>
    </div>
</div>